{% load static %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>
	<body>
		<p>beginInclusive - endExclusive </p>

	{% static 'style.css' %}

	<svg class="circle" width="280" height="280">
		<circle class="type type4 typeA4" cx="140" cy="140" r="90"></circle>
		<circle class="type type3 typeA3" cx="140" cy="140" r="90"></circle>
		<circle class="type type2 typeA2" cx="140" cy="140" r="90"></circle>
		<circle class="type type1 typeA1" cx="140" cy="140" r="90"></circle>
	</svg>




<div class="pie"></div>



<div class="piea"></div>


	</body>
</html>
